

<div class="container">
<div class="row center justify-content-center"><h1>Burger TIME</h1></div>
<br>

    <div class="row">
        <div class="col-sm">
            <h3>Burgers to Eat</h3>
            {{!-- <ul> --}}
                {{#each burger}} {{#unless devoured}}
                {{!-- <li> --}}
                    <div class="eat-me">{{burger_name}}
                        <br>
                        <button class="change-devour" data-id="{{id}}" name="devoured" data-devoured="true"> Eat the Burger</button>
                    </div>
                {{!-- </li> --}}
                <br> {{/unless}} {{/each}}
            {{!-- </ul> --}}
        </div>
        <div class="col-sm">
           <h3>Devoured</h3> 
          
           <div class="devoured">
            {{!-- <ul> --}}
                {{#each burger}} {{#if devoured}}
                <div>{{burger_name}}</div>
                {{/if}} {{/each}}
            {{!-- </ul> --}}
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <h2>Add a Burger</h2>
    </div>
    <div class="row justify-content-center">
        <form class="create-form" method="POST" action="/api/burgers">

            <div class="form-group">
                <label for="burgerName">Burger Name:</label>
                <input type="text" id="burgerName" name="name">
            </div>

            <button type="submit">Add Burger</button>
        </form>
    </div>
</div>