<h1>Burgers</h1> 
Not devoured
<ul>
{{#each burger}}
   {{#unless devoured}}
       <li>{{burger_name}}
         <button class="change-devour" data-id="{{id}}" name="devoured" data-devoured="true"> </button>
	</li> 
    {{/unless}}
{{/each}}
</ul>

Devoured
<ul>
{{#each burger}}
   {{#if devoured}}
       <li>{{burger_name}}</li> 
    {{/if}}
{{/each}}
</ul>



<h2>Add a Burger</h2>
<form class="create-form" method="POST" action="/api/burgers">

  <div class="form-group">
    <label for="burgerName">Burger Name:</label>
    <input type="text" id="burgerName" name="name">
  </div>

 <button type="submit">Add Burger</button>
 
</form>
